doctype html
html
    head
        title My CV
    body
        div
            h2 My Skills
            // start My Skills
            ul
                li php
                li MySql
                li Sass
                li PugJs

            p I Love <b>Pug js</b>
            p
                | I SSS
                b pugjs
                | And
                b sass
            |
            |
            .
                This Text Belong To ?

