doctype html
html
    head
        title My CV
    body
        div
            h2 My Skills
            ul
                li php
                li MySql
                li Sass
                li PugJs
            p Lorem <strong> ipsum </strong> dolor sit amet consectetur adipisicing elit. Numquam unde veritatis ex maiores deleniti officiis, illo quasi velit a dignissimos omnis sapiente porro quas quos earum facere necessitatibus vitae! Doloribus!    
            div: a This Is Link
            div: a: img

