mixin skilist
    ul
        li mm
        li oo
        li ss
        li bdd
        li The theame #{themeName}

mixin feature(featName)
    div(class='feates',style='color:red')= featName    
    //- div.feates = featName   